body{
    display: flex;
    flex-direction: column;
    height: 100%;
}
*{
    outline: none;
}
button{
    border: none;
    overflow: hidden;
}


a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 2px;
}
a:hover{
    text-decoration: none;
    color: black;

}
h5{
    text-transform: capitalize;
}
@font-face {
    font-family: RubikBubbles;
    src: url(../fonts/RubikBubbles-Regular.ttf);
}
.rnd{
        width: fit-content;
        height: fit-content;
        padding: 5px;
        padding-top: -5px;
        border-radius: 10px;
        background-color: none;

}
.rnd:hover{
    background-color: rgba(128, 128, 128, 0.466);
    transition-duration: 1.5s;
}
.al{
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.466);
    padding-left: 10px;
    padding-right: 10px;
}
.na{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 5px 20px black;
    z-index: 1;
    width: 100%;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(5px);
    height: 10%;
}
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  } */
#sect1{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
}

.sect1::after{
    clear: right;
}
.sect2{
    width: fit-content;
    display: flex;
    justify-self: flex-end;
    align-items: center;
    gap: 10px;
    margin-right: 5px;
    height: 50px;
    margin-top: 0px;
}
.sect2 a:hover{
    transform: scale(1.1);
    transition-duration: 700ms;
}
#logo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
#logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.text-decoration-none{
    text-decoration: none;
    color: black;
    font-family: RubikBubbles;
    word-spacing: 2px;
    font-size:clamp(10px, 3vw, 20px);
    text-indent: -15px;
    font-weight: lighter;
}
.text-decoration-none:hover{
    text-decoration: none;

}
#location{
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter
}
#location img{
    width: 10px;
    height: 10px;
}

.cart img{
    width: 20px;
}
.main-box{
    width: 100%;
    overflow-y: scroll;
    height: clamp(550px, 100vw, 610px);
    
}
#banner{
    z-index: -1;
    padding-top: 0px;
    
    width: 100%;

}
.caro-items img{
    width: 100%;
    height: 40vw;
    object-fit: cover;
    object-position: 0px 1px;

}
.btn-outline-secondary:hover{
    animation: anim 200ms linear forwards;

}
button i{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
    background-color: aliceblue;
}




@keyframes anim {
    0%{
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,142,143,1) 6%, rgba(0,212,255,0) 30%);    
    }
    25%{
        background: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 25%, rgba(0,212,255,0) 100%);
    }
    50%{
        background: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 50%, rgba(0,212,255,0) 100%);
    }
    75%{
        background: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 75%, rgba(0,212,255,0) 100%);
    }
    100%{
        background: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 97%, rgba(0,212,255,0) 100%);
        transform: scale(1.1);
    }
}
@keyframes border {
    0%{
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(125,142,143,1) 6%, rgba(0,212,255,0) 30%);    
    }
    25%{
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 25%, rgba(0,212,255,0) 100%);
    }
    50%{
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 50%, rgba(0,212,255,0) 100%);
    }
    75%{
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 75%, rgba(0,212,255,0) 100%);
    }
    100%{
        border-width: 4px;
        border-style: solid;
        border-image: linear-gradient(90deg, rgba(70,68,97,1) 0%, rgba(125,142,143,1) 97%, rgba(0,212,255,0) 100%);
    }
}
.navigation{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 10px;
    align-items: center;
}
.categories{
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
}
.navbar-categories{
    border-bottom: 2px solid grey;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.filter{
    font-size: 15px;
    color: #676775;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    cursor: pointer;
}

/* .items{
    display: flex;
    margin-top: 5px;
    
} */
#items{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#sub-heading{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: fit-content;
    gap: 5px;
}

#sub-heading a{
    width: fit-content;
    /* border:2px dashed #676775; */
    border-radius: 5px;
    color: black;
    font-size: small;
    margin: 5px;
}
#sub-heading a:hover{
    color: grey;
    transform: scale(1.1);
    /* transition-duration: 700ms; */
    animation: border 200ms linear forwards;
} 

#main-items{
    height: 100vw;
    width:100%;
    overflow-x: hidden;
    margin-top: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid grey;
    width: 18rem;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 700ms;
    margin-left: 10px;
}
.dish-type{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin-left: 5px;

}
.dish-type i{
    font-style: normal;
    font-size:20px;
}
.bge{
    border: 1.5px  solid green;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.bge b{
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
    zoom: 110%;
}
.under-heading{
    display: flex;
    flex-direction: column;
    gap: 30px;
    -webkit-overflow-scrolling: scroll;
    width: 100%;
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px;
    
}
.under-heading .child{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    height: fit-content;
    gap: 40px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(83, 82, 79, 0.404);
}

.card img{
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    width: 80%;
}

.content{
    width: 95%;
    display: flex;

}
.content ul{
    list-style-type: none;
    margin-left: -10px;
}
.pricing{
    width: 60%;
    

}
.new-price{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: larger;
}
.old-price{
    text-decoration: line-through;
    opacity: 50%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.type-of-order{
    width: 40%;
}
.type-of-order .btn{
    border-radius: 30px;
    font-size: 10px;
}

